

.contenedor-formulario-form2 {
  flex-direction: column;
  text-align: left;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  background-color: #ecf0f1;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Agregado para permitir el desplazamiento vertical */
  max-height: 800px; /* Ajusta la altura máxima según tus necesidades */
}
  
.contenedor-formulario-form2 label.required::after {
  content: ' *';
  color: #e74c3c; 
}

.contenedor-formulario-form2 .form-group3 {
  width:100%; 
}
/* Estilo de las etiquetas */
.contenedor-formulario-form2 .form-group3  label {
  margin-left: 10%;
  width: 90%;
  display: block;
  color: #2c3e50;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
}

.contenedor-formulario-form2 .form-group2  label {
  margin-left: 10%;
  width: 90%;
  display: block;
  color: #2c3e50;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
}
.contenedor-formulario-form2 .form-group  label {
  margin-left: 10%;
  width: 90%;
  display: block;
  color: #2c3e50;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
}
/* Estilo para el campo de entrada de teléfono */
.contenedor-formulario-form2 input{
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1.5px solid #3498db;
  background-color: #ecf0f1;
  margin-bottom: 12px;
  outline: none;
  transition: border-color 0.3s;
  border-radius: 5px;
  box-sizing: border-box
}

/* Estilo para el mensaje de error */
.contenedor-formulario-form2 input:focus {
  border-bottom: 2px solid #007BFF; /* Cambia el color del borde inferior cuando está enfocado */
}



/* Estilo cuando el foco está en la selección */
.contenedor-formulario-form2 select:focus {
  border-color: #007BFF;
  outline: none;
}
.contenedor-formulario-form2 p {
  margin-top: 0;
  font-size: 18px; /* Tamaño de fuente recomendado para textos principales */
  font-family: Arial, Helvetica, sans-serif;
  color: #333; /* Color de texto estándar */
  margin-left: 10%;
  width: 80%;
  line-height: 1.5; /* Altura de línea recomendada para mejorar la legibilidad */
}

/* Estilos adicionales para resaltar el mensaje */
.contenedor-formulario-form2 p.subtitle {
  /*font-weight: bold;*/
  color: #0670bb; /* Color específico para resaltar */
}


.contenedor-formulario-form2 .button-container-ToE-MRPE {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box; 
}

.contenedor-formulario-form2 .button-container-ToE-MRPE button[type="button"] {
  flex: 1; /* Ocupa todo el espacio disponible */
  max-width: 150px; /* Ancho máximo para los botones */
  background-color: rgb(74, 164, 237);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;background-color: rgb(74, 164, 237);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
}

.contenedor-formulario-form2 .button-container-ToE-MRPE button[type="button"]:first-child {
  margin-right: 10%; /* Agrega un margen derecho solo al primer botón */
}



.contenedor-formulario-form2 .button-container-ToE-MRPE  button[type="submit"] {
  background-color: rgb(74, 164, 237);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
  margin-left: 90px;
  margin-right: 110px;
 width: 150px;
}



.button-container-ToE-MRPE  button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el ratón */
}


/* Estilo cuando el foco está en la selección */
.contenedor-formulario-form2 select#genero:focus {
  border-bottom: 2px solid #007BFF;
  outline: none;
}

/* Estilo para las opciones de género */
.contenedor-formulario-form2 select#genero option {
  border: none; /* Elimina el borde predeterminado de las opciones */
  border-bottom: 1px solid #ccc; /* Agrega una línea inferior a las opciones */
  padding: 10px;
  font-size: larger;
}

.contenedor-formulario-form2 select#genero {
  margin-left: 10%;
  width: 78%;
  padding: 10px;
  font-size: 18px; /* Tamaño de fuente más grande */
  border: none; /* Elimina el borde del input */
  border-bottom: 1px solid #3498db; /* Borde inferior de 2px y color azul */
  background-color: #ecf0f1;
  margin-bottom: 12px;
  outline: none;
  transition: border-color 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
}

.contenedor-formulario-form2 select#pais {
  margin-left: 10%;
  width: 78%;
  padding: 10px;
  font-size: 18px; /* Tamaño de fuente más grande */
  border: none; /* Elimina el borde del input */
  border-bottom: 1px solid #3498db; /* Borde inferior de 2px y color azul */
  background-color: #ecf0f1;
  margin-bottom: 12px;
  outline: none;
  transition: border-color 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
}

.contenedor-formulario-form2 select#pais option {
  border: none; /* Elimina el borde predeterminado de las opciones */
  border-bottom: 1px solid #ccc; /* Agrega una línea inferior a las opciones */
  padding: 10px;
  font-size: larger;
}

.contenedor-formulario-form2 select#pais:focus {
  border-color: #007BFF;
  outline: none;
}

/* Estilo para los contenedores de fila del formulario */
.contenedor-formulario-form2 .form-row {
display: flex;
justify-content: space-between;

width: 100%;
gap: 2px;
}

/* Estilo para cada grupo de formulario dentro de la fila */
.contenedor-formulario-form2 .form-group {
width:35%; /* Puedes ajustar este valor según tus necesidades */
margin-bottom: 12px;
padding-left: 7%;

flex-direction: column;
}
.contenedor-formulario-form2 .form-group2 {
width:70%; /* Puedes ajustar este valor según tus necesidades */
margin-bottom: 12px;
padding-right: 5%;
flex-direction: column;
}
.contenedor-formulario-form2 .form-row input{
width: 78%;
padding: 10px;
border: none;
border-bottom: 1.5px solid #3498db;
background-color: #ecf0f1;
margin-bottom: 12px;
outline: none;
transition: border-color 0.3s;
border-radius: 5px;
box-sizing: border-box;
font-size: 18px;
}

/* Estilo para el campo de país y CI en dispositivos pequeños */
@media screen and (max-width: 768px) {
.contenedor-formulario-form2 .form-group {
  width: 100%;
}
}



.button-container-RPE {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}


.button-container-RPE .blue-button-RPE {
  background-color: rgb(74, 164, 237);
  color: white;
  border: none;
  padding: 2.8% 8%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 13%;
}



.blue-button-RPE:hover {
  background-color: #2980b9;
}
/* Estilos específicos para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .button-container-RPE .blue-button-RPE {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


.ConfbuttonRequisitos-RPE{
display: flex;
justify-content: center;
}


.upload-icon-RPE {
font-size: 48px;
margin-bottom: 10px;
height: 10rem;
border: none;
display: flex;
}





.BotRequisitos-RPE {

border-radius: 5px;
background-color: #1da1f2; /* Color de fondo */
color: white; /* Color del texto */
border: none; /* Sin borde */
width: 40px; /* Ancho del botón */
height: 40px; /* Altura del botón */
font-size: 24px; /* Tamaño del texto */
cursor: pointer; /* Cursor al pasar el ratón sobre el botón */
justify-content: center; /* Centrar horizontalmente el contenido (ícono o texto) */
align-items: center; /* Centrar verticalmente el contenido */
transition: background-color 0.3s ease; /* Animación suave para el cambio de color de fondo */
margin-left: 1.5rem;
}

.button-container-RPE .blue-button-RPE button[type="button"] {
  background-color: #1da1f2;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
}


.RPE-container{
display: flex;
justify-content: space-between;

}

.RPE-distribution{
width: 100%;  
}


.iconoEliminar-RPE {
width: 20px;
height: 20px;
}


.button-container-RPE .buttonRequisitos1-RPE{
background-color: #1da1f2;
color: #ffffff;
border: none;
 width:100% ;

  margin-left: 10%;
  margin-right: 13%;
border-radius: 7px;
cursor: pointer;
font-size: 27px;
margin-bottom: 1rem;
}
.buttonRequisitos1-RPE:hover {
  background-color: #2980b9;
}
