

.navbar .navbar-item{
  display: flex;
  align-items: center;
  text-decoration: none;
padding-top: 15%;
min-width: 1%;
padding-left: 10%;
  
}

.navbar .navbar-title {
  color: rgb(0, 0, 0);
  margin: 0 auto;
  padding: 0rem 0rem 0.7rem 0.4rem;
  font-weight: bold;
  font-size: 120%;
  transition: color 0.3s ease;
}



.navbar-item div{
 
  padding-left: 1.3rem;
 
}


.navbar img{
  
  display: flex;
  align-content: center;
  max-height: 3rem;
  padding-top: 0.5rem;
  border-radius: 10%;
}

.navbar-item.active .line{
  background: linear-gradient(to top, #ff8c00, #ffffff);
}
.navbar-item.active .navbar-title {

color: orange;
}

.navbar a:hover .line {
  height: 10px;
  background: linear-gradient(to top, #ff8c00, #ffffff);
}

.navbar .navbar-item:hover p{
  color: #ff8c00;
}
.lineablock{
  width: max-content;
}
.line {
  min-width: 1rem;
  width: 11rem;
  height: 8px;
  background: linear-gradient(to bottom, #ffffff, #21679A);
  display: block;
  position:absolute;
}
@media (max-width: 100px) {
  .navbar-item div {
    flex-direction: column; /* Cambia a una disposición vertical */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }
}

