.all-info-container {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
}
.all-info-containe2r {
  border: 0px solid #ccc;
  padding: 1px;
  margin: 1px;
}
.date-container {
    display: flex; /* Hace que los elementos hijos se muestren en línea */
    justify-content: center;
}

.space-cal{
  margin-left: 60px;
  margin-right: 0px;
}
.date-box {
    flex: 1; /* Distribuye el espacio disponible de manera uniforme entre los elementos hijos */
    margin: 0 5px; /* Añade un pequeño espacio entre las fechas */
    
}
.color-fecha {
 
  background-color:#45baf5;
}
.info-box {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    
}

.info-box-color{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
  background-color:#37c7e0cf;
}
.estado-activo {
    background-color: rgba(36, 239, 36, 0.26);
}

.estado-inactivo {
    background-color: rgba(205, 58, 58, 0.297);
}

.button-container-RI {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.all-info-container button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el ratón */

  
}



.button-container-RI .blue-button-RI  {
  background-color: rgb(74, 164, 237);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
  margin-left: 80px;
  margin-right: 100px;
   width: 160px;
}
body {
    font-family: Arial, sans-serif;
  }
  
  ol {
    list-style-type:decimal;
    margin-left: 2%;
  }
  
  li {
    margin-bottom: 0px;
  }

  .resaltado {
    background-color: rgb(52, 52, 195);
    color: rgb(1, 15, 4);
  }
  /* Estilos personalizados para el calendario */
.react-calendar {
    max-width: 400px; /* Define el ancho máximo del calendario */
    margin: 0 auto; /* Centra el calendario en el contenedor */
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .react-calendar__tile--now {
    background-color: #007bff; /* Color de fondo para el día actual */
    color: #fff; /* Color del texto para el día actual */
  }

  .calendario-desplegable {
    position: relative;
  }
  
  .icono-calendario {
    cursor: pointer;
  }
  
  .contenedor-calendario {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

 